*.class
*.log
*.ctxt
.mtj.tmp/
*.war
*.jar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.DS_Store
.idea/*
*.iws
/out/
.idea_modules/
*.iml
*/*.iml
**/*.iml
out
gen

*/target/*

storage/*
target

data/*
logPath_IS_UNDEFINED/


**/.idea/

# IntelliJ
web/web.iml
*.iml
*.ipr
*.iws
.idea/
out/

